@model WebTinTuc.Models.DanhMucLinhVucHoiDap
<select class="form-control select-danhmuc" id="LinhVucId" data-val="true" data-val-required="Vui lòng chọn một danh mục cha" name="LinhVucId" aria-required="true" aria-describedby="LinhVucId-error" aria-invalid="false">
    <option value="">--Chọn lĩnh vực hỏi đáp--</option>
    @Html.Partial("_PartialChildSelectLinhVucHoiDap", @Model)
</select>

