@{
    ViewBag.Title = "Xác nhận đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    if (Request.Url.Host != "localhost")
    {
        ViewBag.UrlRedirect = "http://"+ Request.Url.Host + "/admin/login";
    }
    else
    {
        ViewBag.UrlRedirect = "http://" +  Request.Url.Host + ":" + Request.Url.Port + "/admin/login";
    }
    
}

@section metatags {
    <meta http-equiv="refresh" content="10;URL='@ViewBag.UrlRedirect'" />    
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section id="loginForm">
            <div class="page-header">
                <h3>@ViewBag.Title.</h3>
            </div>
            <div class="lead" style="font-size: 14px;">
                <p>
                    Một đường link làm mới mật khẩu đã được gửi tới Email của bạn.
                    Vui lòng làm theo hướng dẫn trong Email để lấy lại mật khẩu.
                </p>
                <p>Vui lòng nhấn vào đây để <a href="~/admin/login">đăng nhập</a>, Hệ thống sẽ tư động quay lại trang đăng nhập sau 10 giây.</p>
            </div>
        </section>
    </div>
</div>
