@{
    ViewBag.Title = "Xác nhận đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section id="loginForm">
            <div class="page-header">
                <h3>@ViewBag.Title.</h3>
            </div>
            <p>
               Mật khẩu đã được thay đổi. Vui lòng @Html.ActionLink("Nhấn vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
            </section>
    </div>
</div>
