@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Có lỗi xảy ra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section id="loginForm">
            <div class="page-header">
                <h3>@ViewBag.Title.</h3>
                
            </div>
            <p class="text-danger">Xin lỗi, hệ thống không thể xử lý yêu cầu này.</p>
        </section>
    </div>
</div>

