@model WebTinTuc.Models.DanhMucDonVi
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    @Html.Partial("_KhaoSatDonViChildPartial", @Model)
    @*<div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Cơ quan trung ương
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="list-group">
                <a href="#" class="list-group-item">Bootply</a>
                <a href="#" class="list-group-item">One itmus ac facilin</a>
                <a href="#" class="list-group-item">Second eros</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Sở ngành
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="list-group">
                <a href="#" class="list-group-item">Bootply</a>
                <a href="#" class="list-group-item">One itmus ac facilin</a>
                <a href="#" class="list-group-item">Second eros</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Quận huyện
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="list-group">
                <a href="#" class="list-group-item">Bootply</a>
                <a href="#" class="list-group-item">One itmus ac facilin</a>
                <a href="#" class="list-group-item">Second eros</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                    Phường xã
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="list-group">
                <a href="#" class="list-group-item">Bootply</a>
                <a href="#" class="list-group-item">One itmus ac facilin</a>
                <a href="#" class="list-group-item">Second eros</a>
            </div>
        </div>
    </div>*@
</div>
