@{
    ViewBag.Title = "404 NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Trang bạn tìm không có hoặc không tôn tại</p>
    <p><a href="/" class="btn btn-primary btn-lg">Quay lại trang chủ</a></p>
</div>


