
@{
    ViewBag.Title = "Câu hỏi của bạn đã được gửi tới đơn vị tiếp nhận";
    Layout = "~/Views/Shared/_LayoutHoiDap.cshtml";
}

<div class="category">
    <div class="page-header">
        @ViewBag.Title 
    </div>
</div>