@model WebTinTuc.Models.Embed

@if (Model != null)
{
    <div class="panel panel-default" style="margin-bottom: 10px; border: 0;">
        <div class="panel-body" style="padding: 0; height: 126px;">
            @if (Model.EmbedOption == false)
            {
                <embed autostart="true" src="@Model.EmbedFile" style="width: 100%; height: 100%;" />
            }
            else
            {
                @Html.Raw(Model.EmbedContent)
            }

        </div>
    </div>
}
