@model WebTinTuc.Models.DanhMucDonVi
<select class="form-control select-danhmuc" onchange="getDanhMuc(this);" id="MaDonViCha" data-val="true" data-val-required="Vui lòng chọn một danh mục cha" name="MaDonViCha" aria-required="true" aria-describedby="MaDonViCha-error" aria-invalid="false">
    <option value="">--Chọn danh mục đơn vị--</option>
    <option value="1">--Là danh mục cha--</option>
    @Html.Partial("_PartialChildDonVi", @Model)
</select>
